.mast{
    margin-top: 100px;
}


// Helpers
.cursor-pointer{
    cursor: pointer;
}

.object-fit-fill {
    object-fit: fill;
}

.object-fit-contain{
    object-fit: contain;
}

.object-fit-cover {
    object-fit: cover;
}

// List styles
.list-style-none{
    list-style: none
}

// Editor styles
.editor{
    p{
        font-weight: 200 !important;
        font-family: "Lato", sans-serif;
        margin-top: 40px;
        strong{
            font-weight: 800,
        }
    }
    h2{
        margin-top: 40px;
    }
    blockquote{
        margin: 0 0 1rem;
        font-size: 31px;
        border-left: 5px solid $secondary;
        padding-left: 30px;    
    }
}

.emphasis{
    color: #2329D6;
    text-decoration: underline
}

.futura-lt{
    font-family: 'Futura LT' !important;
}